img{
  width: 60%;
  align-self: center;
}

.card{
  border: rgb(103, 102, 105) 3px solid;
  display: flex;  
  flex-direction: column;
  margin-left:4%;
  margin-right:4%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.row{
  display: flex;  
  flex: 1;
  flex-direction: row;
  margin: auto;
  margin-top: 1%;
  justify-content: center;
  padding:20px;
}

.container{
  justify-content: center;
}
.details{
  font-size: 20px;
  color: rgb(97, 64, 128);
  padding:20px;
}

.title{
  font-size: 20px;
  background-color: rgb(97, 64, 128);
  color: white;
  text-align: center;
  margin:20px;
  padding:5px;
}

.homepage_links{
  color:  rgb(97, 64, 128);
  padding: 25%;
  font-size: larger;
  }

.loginlink{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex:1
}

.form_panel {
  padding:2%;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  text-align:center;
  box-shadow: 2px 2px 2px 3px #999;
  margin: auto;
  min-width: 350px;
  width: 80%;
  margin-top:3%;
  background-color: black;
}

.navitems{
  display: flex;
  flex-direction: row;
  padding: 20px;
  flex: 1;
  justify-content: flex-start;
  justify-self: center;
}

.nav_item{
  margin-left:15px;
  font-size: 20px;
  color: black;
  align-self: center;
}

.username{
  font: 30px sans-serif;
  color:black;
  justify-content: 'flex-end';
  align-self:flex-end;
  vertical-align: middle;
}

.input_panel {
  display: flex;
  flex-direction: row;
  padding: 20px;
  flex: 1;
  justify-content:flex-end;
  align-items: flex-end;
  vertical-align: middle;
}

.small_header{
  font: 30px sans-serif;
  color:black;
  margin: .5cm;
}

.img_icon {
  align-self: center;
    width:40px;
    background-color:#0C9;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;  
}

/* contact page layout under the photo */
.contact-row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 80px 60px;
}

/* left side: icon */
.contact-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* vertical separator line */
.contact-divider {
  border-left: 2px solid rgb(103, 102, 105);
  height: 170px;
  margin: 0 40px;
}

/* right side: text */
.contact-right {
  max-width: 400px; /* optional, just stops it getting too wide */
}

/* make the contact icon bigger without breaking other pages */
.contact-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #00d4ff;
  box-shadow: 0 0 15px rgba(0, 212, 255, 0.7);
}

.contact-icon span {
  font-size: 40px;
  line-height: 80px;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.9);
}

/* generic inner padding for content inside cards */
.card-content {
  padding: 10px 20px;
}